[profile.default]
src = "."
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
via_ir = true
evm_version = "paris"

[profile.default.fuzz]
runs = 256

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true
