[submodule "contracts/lib/account-abstraction"]
	path = contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
	
[submodule "contracts/lib/chainlink"]
	path = contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink

[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git

[submodule "contracts/lib/v4-core"]
	path = contracts/lib/v4-core
	url = https://github.com/uniswap/v4-core
	
[submodule "contracts/lib/v4-periphery"]
	path = contracts/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery

[submodule "contracts/lib/solidity-lib"]
	path = contracts/lib/solidity-lib
	url = https://github.com/uniswap/solidity-lib

[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts

[submodule "packages/contracts/lib/account-abstraction"]
	path = packages/contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction

[submodule "packages/contracts/lib/optimism"]
	path = packages/contracts/lib/optimism
	url = https://github.com/ethereum-optimism/optimism

[submodule "packages/contracts/lib/openzeppelin-contracts-upgradeable"]
	path = packages/contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable

# Vendor apps (private - will skip for users without access)
[submodule "vendor/hyperscape"]
	path = vendor/hyperscape
	url = git@github.com:elizaos/hyperscape.git
	ignore = untracked

[submodule "vendor/babylon"]
	path = vendor/babylon
	url = git@github.com:elizaos/babylon.git
	ignore = untracked

[submodule "vendor/cloud"]
	path = vendor/cloud
	url = git@github.com:elizaos/cloud.git
	ignore = untracked

[submodule "vendor/otc-agent"]
	path = vendor/otc-agent
	url = git@github.com:elizaos/otc-agent.git
	ignore = untracked

[submodule "vendor/eliza"]
	path = vendor/eliza
	url = git@github.com:elizaos/eliza.git
	ignore = untracked

[submodule "vendor/otaku"]
	path = vendor/otaku
	url = git@github.com:elizaos/otaku.git
	ignore = untracked
[submodule "packages/bridge/contracts/lib/forge-std"]
	path = packages/bridge/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
