[package]
name = "token-bridge"
version = "0.1.0"
description = "Cross-Chain Token Bridge - Solana side of EVM<->Solana bridge"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "token_bridge"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = []

[dependencies]
anchor-lang = { workspace = true }
anchor-spl = { workspace = true }
solana-program = { workspace = true }
evm-light-client = { path = "../evm-light-client", features = ["cpi"] }
