apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "faucet.fullname" . }}
  labels:
    {{- include "faucet.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "faucet.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "faucet.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: faucet
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: WEB3_PROVIDER
              value: {{ .Values.config.rpcUrl | quote }}
            - name: FAUCET_AMOUNT
              value: {{ .Values.config.payoutAmount | quote }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}












