apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "alertmanager.fullname" . }}
  labels:
    {{- include "alertmanager.labels" . | nindent 4 }}
data:
  alertmanager.yml: |
    global:
      resolve_timeout: {{ .Values.config.global.resolve_timeout }}
    route:
      group_by: {{ .Values.config.route.group_by | toJson }}
      group_wait: {{ .Values.config.route.group_wait }}
      group_interval: {{ .Values.config.route.group_interval }}
      repeat_interval: {{ .Values.config.route.repeat_interval }}
      receiver: {{ .Values.config.route.receiver | quote }}
    receivers:
      - name: 'default'
        webhook_configs: []












