apiVersion: v1
kind: Service
metadata:
  name: {{ include "dws.fullname" . }}
  labels:
    {{- include "dws.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.config.p2p.enabled }}
    - port: 4031
      targetPort: p2p
      protocol: TCP
      name: p2p
    {{- end }}
  selector:
    {{- include "dws.selectorLabels" . | nindent 4 }}


